## Máster en Big Data y Data Science

### Metodologías de gestión y diseño de proyectos de big data

#### AP1 - Preparación de los datos

---

En esta libreta se realizan las transforamciones sobre los datasets del escenario en función 
de los resultados de la verificación de calidad de datos. 

---

In [117]:
#Se importan las librerias a utilizar
import pandas as pd

----

##### Lectura de los datasets

In [118]:
df_creditos = pd.read_csv("../../data/processed/datos_creditos_mc.csv", sep=";")
display(df_creditos.head(1))

df_tarjetas = pd.read_csv("../../data/processed/datos_tarjetas_mc.csv", sep=";")
display(df_tarjetas.head(1))

,id_cliente,edad,importe_solicitado,duracion_credito,antiguedad_empleado,situacion_vivienda,ingresos,objetivo_credito,pct_ingreso,tasa_interes,estado_credito,falta_pago
0,713061558.0,22,35000,3,123.0,ALQUILER,59000,PERSONAL,0.59,16.02,1,Y

,id_cliente,antiguedad_cliente,estado_civil,estado_cliente,gastos_ult_12m,genero,limite_credito_tc,nivel_educativo,nivel_tarjeta,operaciones_ult_12m,personas_a_cargo
0,713061558.0,36.0,CASADO,ACTIVO,1088.0,M,4010.0,UNIVERSITARIO_COMPLETO,Blue,24.0,2.0

---
#### Aplicación de transformaciones

**Operaciones a realizar**

1. Selección de columnas
2. Filtrado de filas
3. Construcción de atributos
4. Integración de datasets
5. Formateo definitivo

----

Selección de datos

In [119]:
# Se establece qué columnas se eliminan

col_eliminar_creditos = ['tasa_interes']
col_eliminar_tarjetas = ['nivel_tarjeta']

# Se ejecuta la operación

df_creditos.drop(col_eliminar_creditos, inplace=True, axis=1)
df_tarjetas.drop(col_eliminar_tarjetas, inplace=True, axis=1)

In [120]:
print("Vista del dataset de datos de créditos:")
display(df_creditos.head(1))

print("Vista del dataset de datos de tarjetas:")
display(df_tarjetas.head(1))

Vista del dataset de datos de créditos:

,id_cliente,edad,importe_solicitado,duracion_credito,antiguedad_empleado,situacion_vivienda,ingresos,objetivo_credito,pct_ingreso,estado_credito,falta_pago
0,713061558.0,22,35000,3,123.0,ALQUILER,59000,PERSONAL,0.59,1,Y

Vista del dataset de datos de tarjetas:

,id_cliente,antiguedad_cliente,estado_civil,estado_cliente,gastos_ult_12m,genero,limite_credito_tc,nivel_educativo,operaciones_ult_12m,personas_a_cargo
0,713061558.0,36.0,CASADO,ACTIVO,1088.0,M,4010.0,UNIVERSITARIO_COMPLETO,24.0,2.0

Limpieza de los datos (filtrado a nivel de filas)

In [121]:
#Se puede definir una función para aplicar los cálculos
def regla_pct_ingresos_credito(row):
    pct_ingreso = row.pct_ingreso
    ingresos = row.ingresos
    
    if pct_ingreso > 0.5 and ingresos <= 20000:
        # Es un error, no cumple la regla definida
        return 'err'
    else:
        return 'ok'


# Se aplica la función para todos los elementos del dataset
regla_pct_ingresos = df_creditos.apply(lambda row: regla_pct_ingresos_credito(row), axis=1).rename("regla_pct_ingresos")

# Se unen los resultados al dataset inicial
df_creditos = pd.concat([df_creditos, regla_pct_ingresos], axis=1)
df_creditos.head(5)

,id_cliente,edad,importe_solicitado,duracion_credito,antiguedad_empleado,situacion_vivienda,ingresos,objetivo_credito,pct_ingreso,estado_credito,falta_pago,regla_pct_ingresos
0,713061558.0,22,35000,3,123.0,ALQUILER,59000,PERSONAL,0.59,1,Y,ok
1,768805383.0,21,1000,2,5.0,PROPIA,9600,EDUCACIÓN,0.10,0,N,ok
2,818770008.0,25,5500,3,1.0,HIPOTECA,9600,SALUD,0.57,1,N,err
3,713982108.0,23,35000,2,4.0,ALQUILER,65500,SALUD,0.53,1,N,ok
4,710821833.0,24,35000,4,8.0,ALQUILER,54400,SALUD,0.55,1,Y,ok

In [122]:
def regla_pct_duracion_vivienda(row, duracion_min):
    pct_ingreso = row.pct_ingreso
    duracion = row.duracion_credito
    situacion_vivienda = row.situacion_vivienda
    #asumimos que la duración mínima es 0
    if duracion==duracion_min:
        if pct_ingreso > 0.6 and situacion_vivienda != "PROPIA":
            return False
    
    return True

duracion_min = df_creditos['duracion_credito'].min()
# Se aplica la función para todos los elementos del dataset
regla_pct_dur_viv = df_creditos.apply(lambda row: regla_pct_duracion_vivienda(row, duracion_min), axis=1).rename("regla_pct_dur_viv")

# Se unen los resultados al dataset inicial
df_creditos = pd.concat([df_creditos, regla_pct_dur_viv], axis=1)

In [123]:
df_creditos[regla_pct_dur_viv==False]

,id_cliente,edad,importe_solicitado,duracion_credito,antiguedad_empleado,situacion_vivienda,ingresos,objetivo_credito,pct_ingreso,estado_credito,falta_pago,regla_pct_ingresos,regla_pct_dur_viv
36,713962233.0,22,30000,2,1.0,ALQUILER,48000,EDUCACIÓN,0.63,1,N,ok,False
571,709040508.0,21,15000,2,0.0,HIPOTECA,19500,EDUCACIÓN,0.77,1,N,err,False
577,716027208.0,26,20050,2,10.0,ALQUILER,26000,EDUCACIÓN,0.77,1,N,ok,False
587,709186983.0,23,20000,2,1.0,ALQUILER,32900,EDUCACIÓN,0.61,1,N,ok,False
3535,717886008.0,24,25000,2,4.0,HIPOTECA,37000,SALUD,0.68,0,N,ok,False
6758,713115483.0,22,7000,2,0.0,ALQUILER,10000,MEJORAS_HOGAR,0.70,1,N,err,False
7220,711399408.0,24,29100,2,8.0,HIPOTECA,46000,PERSONAL,0.63,1,Y,ok,False

In [124]:
# Se filtran las filas con algún error detectado
print(f"Filas antes del filtro: {df_creditos.shape[0]}")

temp = df_creditos[df_creditos['edad'] < 90]

# Otro filtro posible: por la regla de negocio agregada

temp_c = temp[temp['regla_pct_ingresos'] == 'ok']

temp_c = temp_c[temp_c['regla_pct_dur_viv'] == True]
temp_c = temp_c[(temp_c['antiguedad_empleado'] < 50) | (temp_c['antiguedad_empleado'].isnull())]

print(f"Filas después del filtro: {temp_c.shape[0]}")

Filas antes del filtro: 10127
Filas después del filtro: 10101

Integración de datos

In [125]:
df_integrado = pd.merge(temp_c, df_tarjetas, on='id_cliente', how='inner')
coincidencias = df_integrado.shape[0]

print(f"Filas del dataset integrado con los filtros realizados: {coincidencias}")

Filas del dataset integrado con los filtros realizados: 10101

In [126]:
print(f"Cantidad de columnas del dataset integrado: {df_integrado.shape[1]}")

Cantidad de columnas del dataset integrado: 22

#### Transformación de atributos

Atributos nominales que se modifican los valores

In [127]:
# Columna: estado_civil
cambios_estado_civil = {
    'CASADO' : 'C',
    'SOLTERO' : 'S',
    'DESCONOCIDO' : 'N',
    'DIVORCIADO' : 'D',
}

estado_civil_N = df_integrado.loc[:, ('estado_civil')].map(cambios_estado_civil).rename('estado_civil_N')

# Columna: estado_credito
cambios_estado_credito = {
    0: 'C',
    1 : 'P',
}

estado_credito_N = df_integrado.loc[:, ('estado_credito')].map(cambios_estado_credito).rename('estado_credito_N')

df_final = pd.concat([estado_civil_N, estado_credito_N, df_integrado], axis=1)
df_final.head()

# Sobre este resultado será necesario eliminar las columnas auxiliares

,estado_civil_N,estado_credito_N,id_cliente,edad,importe_solicitado,duracion_credito,antiguedad_empleado,situacion_vivienda,ingresos,objetivo_credito,...,regla_pct_dur_viv,antiguedad_cliente,estado_civil,estado_cliente,gastos_ult_12m,genero,limite_credito_tc,nivel_educativo,operaciones_ult_12m,personas_a_cargo
0,C,C,768805383.0,21,1000,2,5.0,PROPIA,9600,EDUCACIÓN,...,True,39.0,CASADO,ACTIVO,1144.0,M,12691.0,SECUNDARIO_COMPLETO,42.0,3.0
1,C,P,713982108.0,23,35000,2,4.0,ALQUILER,65500,SALUD,...,True,36.0,CASADO,ACTIVO,1887.0,M,3418.0,UNIVERSITARIO_COMPLETO,20.0,3.0
2,C,P,710821833.0,24,35000,4,8.0,ALQUILER,54400,SALUD,...,True,54.0,CASADO,ACTIVO,1314.0,M,9095.0,DESCONOCIDO,26.0,1.0
3,N,P,769911858.0,21,2500,2,2.0,PROPIA,9900,INVERSIONES,...,True,34.0,DESCONOCIDO,ACTIVO,1171.0,F,3313.0,SECUNDARIO_COMPLETO,20.0,4.0
4,C,P,709106358.0,26,35000,3,8.0,ALQUILER,77100,EDUCACIÓN,...,True,21.0,CASADO,ACTIVO,816.0,M,4716.0,UNIVERSITARIO_INCOMPLETO,28.0,3.0

Atributos numéricos que se discretizan

In [128]:
df_integrado['operaciones_ult_12m'].describe()

count    10101.000000
mean        64.908920
std         23.462074
min         10.000000
25%         45.000000
50%         67.000000
75%         81.000000
max        139.000000
Name: operaciones_ult_12m, dtype: float64

In [129]:
# Antiguedad del empleado

etiquetas_a_e = ['menor_5', '5_a_10', 'mayor_10']
rangos_a_e = [0, 4, 10, 50]
valor_para_nan = 'NA'
antiguedad_empleados_N = pd.cut(df_integrado['antiguedad_empleado'], 
                                bins=rangos_a_e, 
                                labels=etiquetas_a_e,
                                right=False).cat.add_categories(valor_para_nan).fillna(valor_para_nan)

antiguedad_empleados_N.value_counts()

# edad

etiquetas_e = ['menor_25', '25_a_30']
rangos_e = [0, 24, 50]
edad_N = pd.cut(df_integrado['edad'], 
                                bins=rangos_e, 
                                labels=etiquetas_e)

edad_N.value_counts()

# pct_ingreso

etiquetas_p_i = ['hasta_20', '20_a_40', '40_a_60', 'mayor_60']
rangos_p_i = [0, 0.19, 0.39, 0.60, 0.99]
pct_ingreso_N = pd.cut(df_integrado['pct_ingreso'], 
                                bins=rangos_p_i, 
                                labels=etiquetas_p_i)

pct_ingreso_N.value_counts()

# ingresos

etiquetas_i = ['hasta_20k', '20k_a_50k', '50k_a_100k', 'mayor_100k']
rangos_i = [0, 19999, 49999, 99999, 999999]
ingresos_N = pd.cut(df_integrado['ingresos'], 
                                bins=rangos_i, 
                                labels=etiquetas_i)

ingresos_N.value_counts()


# antiguedad_cliente

etiquetas_a_c = ['menor_2y', '2y_a_4y', 'mayor_4y']
rangos_a_c = [0, 24, 48, 100]
antiguedad_cliente_N = pd.cut(df_integrado['antiguedad_cliente'], 
                                bins=rangos_a_c, 
                                labels=etiquetas_a_c)

antiguedad_cliente_N.value_counts()

# limite_credito_tc

etiquetas_l_tc = ['menor_3k', '3k_a_5k', '5k_a_10k', 'mayor_10k']
rangos_l_tc = [0, 2999, 4999, 9999, 100000]
limite_credito_tc_N = pd.cut(df_integrado['limite_credito_tc'], 
                                bins=rangos_l_tc, 
                                labels=etiquetas_l_tc)

limite_credito_tc_N.value_counts()

# gastos_ult_12m

etiquetas_g_u12 = ['menor_2k', '2k_a_4k', '4k_a_6k', '6k_a_8k', '8k_a_10k', 'mayor_10k']
rangos_g_u12 = [0, 1999, 3999, 5999, 7999, 9999, 100000]
gastos_ult_12m_N = pd.cut(df_integrado['gastos_ult_12m'], 
                                bins=rangos_g_u12, 
                                labels=etiquetas_g_u12)

gastos_ult_12m_N.value_counts()

# operaciones_ult_12m

etiquetas_o_u12 = ['menor_15', '15_a_30', '30_a_50', '50_a_75', '75_a_100', 'mayor_100']
rangos_o_u12 = [0, 14, 29, 49, 74, 99, 1000]
operaciones_ult_12m_N = pd.cut(df_integrado['operaciones_ult_12m'], 
                                bins=rangos_o_u12, 
                                labels=etiquetas_o_u12)

operaciones_ult_12m_N.value_counts()

operaciones_ult_12m
50_a_75      3391
75_a_100     3004
30_a_50      2410
mayor_100     687
15_a_30       585
menor_15       24
Name: count, dtype: int64

In [130]:
col_eliminar_final = [
              'edad',
              'antiguedad_empleado',
              'antiguedad_cliente', 
              'ingresos',
              'pct_ingreso',
              'regla_pct_ingresos',
              'gastos_ult_12m', 
              'limite_credito_tc', 
              'operaciones_ult_12m',
              'id_cliente']

df_integrado.drop(col_eliminar_final, inplace=True, axis=1)


df_final = pd.concat([operaciones_ult_12m_N, gastos_ult_12m_N, limite_credito_tc_N, antiguedad_cliente_N, ingresos_N, pct_ingreso_N, antiguedad_empleados_N, edad_N, df_integrado], axis=1)
df_final.head(5)

,operaciones_ult_12m,gastos_ult_12m,limite_credito_tc,antiguedad_cliente,ingresos,pct_ingreso,antiguedad_empleado,edad,importe_solicitado,duracion_credito,situacion_vivienda,objetivo_credito,estado_credito,falta_pago,regla_pct_dur_viv,estado_civil,estado_cliente,genero,nivel_educativo,personas_a_cargo
0,30_a_50,menor_2k,mayor_10k,2y_a_4y,hasta_20k,hasta_20,5_a_10,menor_25,1000,2,PROPIA,EDUCACIÓN,0,N,True,CASADO,ACTIVO,M,SECUNDARIO_COMPLETO,3.0
1,15_a_30,menor_2k,3k_a_5k,2y_a_4y,50k_a_100k,40_a_60,5_a_10,menor_25,35000,2,ALQUILER,SALUD,1,N,True,CASADO,ACTIVO,M,UNIVERSITARIO_COMPLETO,3.0
2,15_a_30,menor_2k,5k_a_10k,mayor_4y,50k_a_100k,40_a_60,5_a_10,menor_25,35000,4,ALQUILER,SALUD,1,Y,True,CASADO,ACTIVO,M,DESCONOCIDO,1.0
3,15_a_30,menor_2k,3k_a_5k,2y_a_4y,hasta_20k,20_a_40,menor_5,menor_25,2500,2,PROPIA,INVERSIONES,1,N,True,DESCONOCIDO,ACTIVO,F,SECUNDARIO_COMPLETO,4.0
4,15_a_30,menor_2k,3k_a_5k,menor_2y,50k_a_100k,40_a_60,5_a_10,25_a_30,35000,3,ALQUILER,EDUCACIÓN,1,N,True,CASADO,ACTIVO,M,UNIVERSITARIO_INCOMPLETO,3.0

Exportación de metadatos

In [131]:
import dtale as dt

informe = dt.show(df_final)
informe.open_browser()

Exportación del dataset

In [132]:
df_final.to_csv("../../data/final/datos_finales.csv", sep=';', index=False)

2024-07-16 19:42:46,802 - INFO     - Executing shutdown due to inactivity...
2024-07-16 19:43:03,129 - INFO     - Executing shutdown...
2024-07-16 19:43:03,131 - INFO     - Not running with the Werkzeug Server, exiting by searching gc for BaseWSGIServer